<div>
    <h1>Update User</h1>
    <form method="POST">
     <div class="signup">
        <p><input type="text" id="fname" name="fname" placeholder={{fname}}/></p>
        <p><input placeholder="{{email}}" type="text" id="email" name="email"/></p>
        <p><input placeholder="Password" type="password" id="password" name="password"/></p>
        <p><input placeholder="Confirm Password" type="text" id="confirm"/></p>
    <button id="send"> Update Profile</button>
    </div>
    </form>
</div>
