<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cosmo/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/style.css">
    </head>

    <div class="container-fluid main-body">
        <div className="row">
            <div className="col-md-12">
                <div id="signup">
                    <form method="POST">
                     <div class="signup">
                        <h1 id="signupheader">Update Account Information</h1>
                        <p><input value="<%- user.fname -%>" type="text" readonly>
                        <input placeholder="Update Name" type="text" id="fname" name="fname"></p>
                        <p><input value="<%- user.email -%>" type="text" readonly><input placeholder="Update Email" type="text" id="email" name="email"></p>
                        <p><input value="<%- user.password -%>" type="password" id="password" name="password"><input placeholder="Update Password" type="text" id="password" name="password"></p>
                    <button id="send"> Update Profile</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <div className="row">
            <div className="col-md-12">
                <div id="signup">
                <h3> Enter Your Favorite City(ies):</h3>
                <form action="/location" method="POST">
                    <input value="<%- user.location -%>" type="text" readonly>
                    <p>
                        <input placeholder="Location" type="text" id="location" name="location"/></p>
                    </p>
                    <input type="submit" id="save">

                </form>
            </div>
        </div>
        </div>
