    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cosmo/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">

<div class="container-fluid main-body">
    <div className="row">
        <div className="col-md-12">
            <div id="signup">
                <form method="POST">
                    <h1 id="header">Sign Up</h1>
                    <p><input placeholder="First Name" type="text" id="fname" name="fname"/></p>
                    <p><input placeholder="Email" type="text" id="email" name="email"/> </p>
                    <p><input placeholder="Password" type="password" id="password" name="password"/></p>
                    <p><input placeholder="Confirm Password" type="text" id="confirm"/></p>
                    <button id="send"> Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>
