<div>
    <form method="POST">
     <div class="signup">
        <p><input placeholder="First Name" type="text" id="fname" name="fname"/></p>
        <p><input placeholder="Email" type="text" id="email" name="email"/> </p>
        <p><input placeholder="Password" type="password" id="password" name="password"/></p>
        <p><input placeholder="Confirm Password" type="text" id="confirm"/></p>
    <button id="send"> Sign Up</button>
    </div>
    </form>
</div>
