    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cosmo/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">

    <div id="signup" className="row">
        <form method="POST" id="signupform">
            <h1 id="signupheader">Sign Up</h1>
            <p><input placeholder="First Name" type="text" id="fname" name="fname"/></p>
            <p><input placeholder="Email" type="text" id="email" name="email"/> </p>
            <p><input placeholder="Password" type="password" id="password" name="password"/></p>
            <button id="button"> Sign Up</button>
        </form>
    </div>
