/*@font-face {
	font-family: Sunn;
	src: url('font/Sunn.otf') format("opentype");
}

@font-face {
	font-family: Gist;
	src: url('font/Gist.otf') format("opentype");
}*/

body {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
    /*color: tomato;*/
    background: fixed;
    background-image: url(/img/Citybw.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: Sunn;
    font-size: 2.5em;
}
#loginheader {
    padding-top: 20px;
    color: tomato;
    text-align: right

}
#header {
    width: 100%;
    height: 100%;
    /*color: #ffd13b;*/
    color: #C0C0C0;
    font-size: 2.5em;
    text-align: center;
    font-family: Gist;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#hr{
    margin: 5;
}
#signupheader {
    color: #C0C0C0;
    text-align: center;
    font-family: Gist;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-bottom: 10px;
}

#middlerow {
    margin-top: 10px;
    padding: 0;
}

#searcharea {
    z-index: 0;
    background-color: lightgrey;
    opacity: .8;
    position: relative;
}

#weather {
    display: inline-block;
    color: tomato;
    text-align: right;
    font-weight: bold;
    background-color: white;
    padding: 10px;

}

#results {
    position: relative;
    z-index: 2;
    padding: 10px;
    font-size: 1.5em;
    color: black;
    font-family: "Sunn";
    text-align: center;
    list-style: none;
    font-weight: bolder;
    border: black solid;
}
#photos {
    position: relative;
    opacity: 1;
    z-index: 2;
}
#name {
    text-decoration: underline;
    color: tomato;
}
#otherinfo {
    font-size: 1em;
    font-weight: lighter;
}

#locationlist{
    list-style: none;
    padding: 0;
}

#searchresults {
    padding: 0;
    height: 500px;
    overflow:scroll;
}

#map {
    height: 500px;
    border: lightgrey solid;
}
#button{
    border: black solid;
    color: tomato;
    border: 0;
    border-right: 2px;
}
#signup {
margin-top: 10%;
    display: inline-block;
    color: tomato;
    text-align: center;
    /*object-position: center;*/
    /*width: 100%;*/
    font-size: 30px;
    /*margin-top: 2em;*/
    padding: 30px;
    /*max-width: 60%;*/
    border-radius: 30%;
    background-color: lightgrey;
}

#fname, #lname, #email, #password, #confirm {
    font-size: 30px;
    max-height: 50px;
    padding: 2px;
}

#profile {
font-size: 30px;
max-height: 50px;
padding: 2px;
}

#lower {
    padding: -30;
}
